.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.gear {
  position: relative;
  border-radius: 50%;
  box-shadow:
    inset 0 4px 8px rgba(255, 220, 160, 0.4),
    inset 0 -6px 10px rgba(0, 0, 0, 0.8);
}

.gear::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(#9b5a24, #6a3b16) #111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    inset 0 4px 8px rgba(255, 220, 160, 0.4),
    inset 0 -6px 10px rgba(0, 0, 0, 0.8);
}

.gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #6a3b16;
  border-radius: 50%;
}

.bar {
  background: #6a3b16;
  height: 16px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.small-gear {
  width: 80px;
  height: 80px;
  animation: spin 3s linear infinite;
  top: -20px;
  left: 260px;
}

.small-gear::after {
  width: 32px;
  height: 32px;
}

.large-gear {
  width: 140px;
  height: 140px;
  animation: spin-reverse 6s linear infinite;
  top: 90px;
  left: 105px;

  .bar {
    width: 160px;
  }
}

.large-gear::after {
  width: 50px;
  height: 50px;
}

/* Small gear bars (5 bars) */
.small-gear .bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}
.small-gear .bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(calc(1 * 45deg));
}
.small-gear .bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(calc(2 * 45deg));
}
.small-gear .bar:nth-child(4) {
  transform: translate(-50%, -50%) rotate(calc(3 * 45deg));
}

/* Large gear bars (8 bars) */
.large-gear .bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}
.large-gear .bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(calc(1 * 22.5deg));
}
.large-gear .bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(calc(2 * 22.5deg));
}
.large-gear .bar:nth-child(4) {
  transform: translate(-50%, -50%) rotate(calc(3 * 22.5deg));
}
.large-gear .bar:nth-child(5) {
  transform: translate(-50%, -50%) rotate(calc(4 * 22.5deg));
}
.large-gear .bar:nth-child(6) {
  transform: translate(-50%, -50%) rotate(calc(5 * 22.5deg));
}
.large-gear .bar:nth-child(7) {
  transform: translate(-50%, -50%) rotate(calc(6 * 22.5deg));
}
.large-gear .bar:nth-child(8) {
  transform: translate(-50%, -50%) rotate(calc(7 * 22.5deg));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
